body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.typing-board {
    margin: auto;
    border-collapse: collapse;
}

.typing-row {
    height: 1.2em;
    width: 1.4ex;
    border-bottom: 1px solid #ccc;
}
